.blog-page{
  background-color: $color-third-4;
  padding: 60px 0;
  @media only screen and (max-width: 768px) {
    padding: 30px 0;
  }
  h1{
    text-align: center;
    margin-bottom: 60px;
  }
  .category-list{
    text-align: center;
    ul{
      display: inline-block;
      @media only screen and (max-width: 768px) {
        padding-left: 0;
        @media only screen and (max-width: 475px) {
          padding-left: 25px;
        }
      }
      li{
        margin-right: 25px;
        list-style: none;
        float: left;
        @media only screen and (max-width: 670px) {
          margin-right: 15px;
          @media only screen and (max-width: 475px) {
            margin-right: 30px;
            &:nth-child(3){
              margin-right: 0;
              &:after{
                display: none;
              }
            }
            &:last-child{
              margin-right: 0;
            }
            @media only screen and (max-width: 350px) {
              margin-right: 20px;
            }
          }
        }
        &:last-child{
          &:after{
            display: none;
          }
        }
        a{
          color: $font-color-1;
          display: inline-block;
          text-transform: uppercase;
          margin-right: 15px;
          @media only screen and (max-width: 670px) {
            margin-right: 0;
            @media only screen and (max-width: 475px) {
              margin-right: 30px;
              @media only screen and (max-width: 350px) {
                margin-right: 15px;
              }
            }
          }
        }
        &:after{
          content: '';
          display: inline-block;
          border-right: 1px solid $color-third-3;
          width: 1px;
          height: 15px;
          transform: rotate(20deg);
          margin-left: 20px;
        }
      }
    }
  }
  .newsletter{
    .newsletter-content{
      .btn-biger{
        text-transform: uppercase;
      }
      @media only screen and (max-width: 670px) {
        form{
          input{
            width: 300px;
            @media only screen and (max-width: 475px) {
              width: 200px;
            }
          }
          .btn-biger{
            font-size: 18px;
            width: 120px;
            @media only screen and (max-width: 475px) {
              width: 100px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 992px) {
      .social-icons{
        display: none !important;
      }
      .newsletter-content{
        display: block !important;
        text-align: center;
      }
    }
  }
  .blog-content{
    background-color: #fff;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.13);
    .left-blok{
      padding-right: 0;
      .day{
        font-family: $font-bold;
        color: $color-third-5;
        font-size: 48px;
        font-weight: 700;
        line-height: 18px;
        border-bottom: 1px solid $color-third-6;
        margin-top: 70px;
        text-align: center;
        padding-bottom: 25px;
        @media only screen and (max-width: 768px) {
          width:70px;
          margin: 40px auto 0;
        }
      }
      .month{
        font-family: $font-regular;
        color: $color-third-5;
        font-size: 26px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 25px;
      }
      .reviews{
        color: $color-third-1;
        font-family: $font-regular;
        font-size: 12px;
        margin-bottom: 20px;
        padding-left: 15px;
        @media only screen and (max-width: 768px) {
          text-align: center;
          padding-left: 0;
          margin-top: 30px;
        }
        &:after{
          content: '\f06e';
          font-family: $font-awesome;
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: 15px;
          margin-top: 2px;
          @media only screen and (max-width: 992px) {
            right: 3px;
            @media only screen and (max-width: 768px) {
              right: calc(40% - 20px);
              @media only screen and (max-width: 600px) {
                right: calc(37% - 20px);
                @media only screen and (max-width: 475px) {
                  right: calc(30% - 20px);
                }
              }
            }
          }
        }
      }
      .comments{
        color: $color-third-1;
        font-family: $font-regular;
        font-size: 12px;
        margin-bottom: 20px;
        padding-left: 15px;
        @media only screen and (max-width: 768px) {
          text-align: center;
          padding-left: 0;
        }
        &:after{
          content: '\f0e5';
          font-family: $font-awesome;
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: 15px;
          margin-top: 2px;
          @media only screen and (max-width: 992px) {
            right: 3px;
            @media only screen and (max-width: 768px) {
              right: calc(40% - 20px);
              @media only screen and (max-width: 600px) {
                right: calc(37% - 20px);
                @media only screen and (max-width: 475px) {
                  right: calc(30% - 20px);
                }
              }
            }
          }
        }
      }
      .share{
        color: $color-third-1;
        font-family: $font-regular;
        font-size: 12px;
        margin-bottom: 20px;
        padding-left: 15px;
        @media only screen and (max-width: 768px) {
          text-align: center;
          padding-left: 0;
        }
        &:after{
          content: '\f1e0';
          font-family: $font-awesome;
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: 15px;
          margin-top: 2px;
          @media only screen and (max-width: 992px) {
            right: 3px;
            @media only screen and (max-width: 768px) {
              right: calc(40% - 20px);
              @media only screen and (max-width: 600px) {
                right: calc(37% - 20px);
                @media only screen and (max-width: 475px) {
                  right: calc(30% - 20px);
                }
              }
            }
          }
        }
      }
    }
    .middle-block{
      margin-top: 60px;
      padding-bottom: 35px;
      @media only screen and (max-width: 768px) {
        margin-top: 0;
        padding: 40px 15px 55px;
        background-color: #fff;
      }
      .blog-tags{
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.48);
        background-color: $color-btn-3;
        display: inline-block;
        color: #fff;
        font-family: $font-regular;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        padding: 15px 0;
        width: 170px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 15px;
        @media only screen and (max-width: 768px) {
          top: 40px;
          @media only screen and (max-width: 660px) {
            width: 25%;
            line-height: 12px;
            padding: 10px 0;
          }
        }
        i{
          margin-right: 25px;
          @media only screen and (max-width: 475px) {
            margin-right: 10px;
          }
        }
      }
      img{
        width: 100%;
        height: auto;
      }
      h4{
        font-family: $font-regular;
        font-weight: 400;
      }
      p{
        margin-top:0;
        @media only screen and (max-width: 768px) {
          text-align: justify;
        }
      }
      .btn-transparent{
        float: right;
        border: 1px solid $color-primary-4;
        color: $color-primary-4;
        font-family: $font-regular;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 0;
        width: 160px;
      }
      h4{
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
    .right-block{
      margin-top: 59px;
      .sidebar-lines{
        border: 2px solid $color-third-7;
        margin-bottom: 40px;
        .one-post{
          h4{
            font-family: $font-regular;
            color: $font-color-1;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 0;
          }
        }
        .sidebar-header{
          background-color: #fff;
          font-family: $font-regular;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase;
          display: inline-block;
          position: relative;
          left: calc(50% - 30px);
          top:-20px;
          padding: 5px;
        }
        .social-up{
          text-align: center;
          margin-bottom: 20px;
        }
        span{
          color: $color-primary-3;
          font-family: $font-regular;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-transform: uppercase;
        }
        .img{
          width: 125px;
          height: 125px;
          margin: 0 auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
        p{
          text-align: justify;
          padding: 0 25px 40px;
          font-family: $font-regular;
          color: $color-primary-3;
          font-size: 13px;
          font-weight: 400;
          line-height:18px;
        }
        .btn-transparent{
          margin-top: 10px;
          border: 1px solid $color-primary-4;
          color: $color-primary-4;
          font-family: $font-regular;
          font-size: 12px;
          font-weight: 700;
          line-height: 5px;
          text-transform: lowercase;
          text-align: center;
          border-radius: 0;
          width: 60px;
          position: relative;
          left: calc(50% - 55px);
        }
        .fa-comment-o{
          position: relative;
          left: calc(50% - 42px);
        }
        .fa-eye{
          position: relative;
          left: calc(50% - 47px);
        }
      }
      .socail-icons{
        .facebook, .twitter, .pinterest, .google{
          display: inline-block;
          width: 26%;
          i{
            font-size: 24px;
          }
        }
        .social-up{
          margin-bottom: 30px;
        }
      }
    }
  }
}