<main>
    <section>
        <div class="blog-page">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Welcome to our blog</h1>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="category-list">
                                    <ul>
                                        <li><a href="#">Study</a></li>
                                        <li><a href="#">Work</a></li>
                                        <li><a href="#">Travel</a></li>
                                        <li><a href="#">Rest</a></li>
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Design</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row newsletter">
                            <div class="col-xs-12">
                                <div class="newsletter-content hidden-sm hidden-xs">
                                    <form>
                                        <input type="email" placeholder="Enter your request">
                                        <a href="#" class="btn-biger">Search</a>
                                    </form>
                                </div>
                                <div class="social-icons visible-sm visible-xs">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-content">
                        <div class="col-lg-9 col-md-12">
                            <div class="row">
                                <div class="col-md-2 col-sm-2  col-lg-2 hidden-xs left-blok">
                                    <div class="day">23</div>
                                    <div class="month">June</div>
                                    <div class="reviews">120 reviews</div>
                                    <div class="comments">3 comments</div>
                                    <div class="share">Share  article</div>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 middle-block">
                                    <div class="blog-tags"><i class="fa fa-tags" aria-hidden="true"></i>Work</div>
                                    <img src="../img/blog-img.png" alt="" />
                                    <div class="row visible-xs left-blok">
                                        <div class="col-xs-6">
                                            <div class="day">23</div>
                                            <div class="month">June</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="reviews">120 reviews</div>
                                            <div class="comments">3 comments</div>
                                            <div class="share">Share  article</div>
                                        </div>
                                    </div>
                                    <h4>Where does it come from</h4>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                        making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                                        obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
                                        the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                        (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                    </p>
                                    <a href="blog-internal.html" class="btn-transparent">Continue </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2  col-lg-2 hidden-xs left-blok">
                                    <div class="day">23</div>
                                    <div class="month">June</div>
                                    <div class="reviews">120 reviews</div>
                                    <div class="comments">3 comments</div>
                                    <div class="share">Share  article</div>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 middle-block">
                                    <div class="blog-tags"><i class="fa fa-tags" aria-hidden="true"></i>Work</div>
                                    <img src="../img/blog-img.png" alt="" />
                                    <div class="row visible-xs left-blok">
                                        <div class="col-xs-6">
                                            <div class="day">23</div>
                                            <div class="month">June</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="reviews">120 reviews</div>
                                            <div class="comments">3 comments</div>
                                            <div class="share">Share  article</div>
                                        </div>
                                    </div>
                                    <h4>Where does it come from</h4>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                        making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                                        obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
                                        the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                        (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                    </p>
                                    <a href="blog-internal.html" class="btn-transparent">Continue </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2  col-lg-2 hidden-xs left-blok">
                                    <div class="day">23</div>
                                    <div class="month">June</div>
                                    <div class="reviews">120 reviews</div>
                                    <div class="comments">3 comments</div>
                                    <div class="share">Share  article</div>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 middle-block">
                                    <div class="blog-tags"><i class="fa fa-tags" aria-hidden="true"></i>Work</div>
                                    <img src="../img/blog-img.png" alt="" />
                                    <div class="row visible-xs left-blok">
                                        <div class="col-xs-6">
                                            <div class="day">23</div>
                                            <div class="month">June</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="reviews">120 reviews</div>
                                            <div class="comments">3 comments</div>
                                            <div class="share">Share  article</div>
                                        </div>
                                    </div>
                                    <h4>Where does it come from</h4>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                        making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                                        obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
                                        the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                        (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                    </p>
                                    <a href="blog-internal.html" class="btn-transparent">Continue </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-2  col-lg-2 hidden-xs left-blok">
                                    <div class="day">23</div>
                                    <div class="month">June</div>
                                    <div class="reviews">120 reviews</div>
                                    <div class="comments">3 comments</div>
                                    <div class="share">Share  article</div>
                                </div>
                                <div class="col-md-10 col-lg-10 col-sm-10 middle-block">
                                    <div class="blog-tags"><i class="fa fa-tags" aria-hidden="true"></i>Work</div>
                                    <img src="../img/blog-img.png" alt="" />
                                    <div class="row visible-xs left-blok">
                                        <div class="col-xs-6">
                                            <div class="day">23</div>
                                            <div class="month">June</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="reviews">120 reviews</div>
                                            <div class="comments">3 comments</div>
                                            <div class="share">Share  article</div>
                                        </div>
                                    </div>
                                    <h4>Where does it come from</h4>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                        making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                                        obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
                                        the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                        (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                    </p>
                                    <a href="blog-internal.html" class="btn-transparent">Continue </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 visible-lg">
                            <div class="row">
                                <div class="col-lg-12 visible-lg right-block">
                                    <aside>
                                        <div class="sidebar-lines">
                                            <div class="sidebar-header">About</div>
                                            <div class="img">
                                                <img src="../img/blog-img-sidebar.png"  alt="" />
                                            </div>
                                            <p>
                                                It is a long established fact that a reader will be distracted by the reale content of pag when looking at its layout. The point
                                                of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                                                making it look like readable English.
                                            </p>
                                        </div>
                                        <div class="sidebar-lines">
                                            <div class="sidebar-header">Social</div>
                                            <div class="socail-icons">
                                                <div class="social-up">
                                                    <div class="facebook">
                                                        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                                        <span>facebook</span>
                                                    </div>
                                                    <div class="twitter">
                                                        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                                        <span>TWITTER</span>
                                                    </div>
                                                </div>
                                                <div class="socail-icons">
                                                    <div class="social-up">
                                                        <div class="pinterest">
                                                            <a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                                                            <span>pinterest</span>
                                                        </div>
                                                        <div class="google">
                                                            <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                                                            <span>google</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidebar-lines">
                                            <div class="one-post">
                                                <div class="sidebar-header">Posts</div>
                                                <div class="img">
                                                    <img src="../img/post-img.png" alt="" />
                                                </div>
                                                <a href="#" class="btn-transparent">Study</a>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                <h4>Study or relaks on sea?</h4>
                                                <p>
                                                    It is a long established fact that a reader will be distracted by the  letters, as opposed to
                                                    using 'Content here, content here', making it look like readable English.
                                                </p>
                                            </div>
                                            <div class="one-post">
                                                <div class="img">
                                                    <img src="../img/post-img.png" alt="" />
                                                </div>
                                                <a href="#" class="btn-transparent">Study</a>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                <h4>Study or relaks on sea?</h4>
                                                <p>
                                                    It is a long established fact that a reader will be distracted by the  letters, as opposed to
                                                    using 'Content here, content here', making it look like readable English.
                                                </p>
                                            </div>
                                            <div class="one-post">
                                                <div class="img">
                                                    <img src="../img/post-img.png" alt="" />
                                                </div>
                                                <a href="#" class="btn-transparent">Study</a>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                <h4>Study or relaks on sea?</h4>
                                                <p>
                                                    It is a long established fact that a reader will be distracted by the  letters, as opposed to
                                                    using 'Content here, content here', making it look like readable English.
                                                </p>
                                            </div>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>