<main>
    <section>
        <div class="guarantees-page">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="content">
                                <h1>The Guarantee We Offer</h1>
                                <p>
                                    Our company – 123HelpMe.org - is the perfect place to buy
                                    any papers you need because you are assured of the finest
                                    quality essays. We offer a number of guarantees, one of
                                    which is that we will provide only the very best writing
                                    assistance to our global clientele. We work hard to
                                    achieve excellence in everything we do and we strive
                                    to provide you with the best possible quality of essays.
                                    We never compromise on quality because our aim is to
                                    provide superior academic papers to every customer who
                                    comes to us. We continue to enjoy a high level of trust
                                    from our customers and we want to retain their loyalty.
                                    We have spent a long time building our enviable reputation
                                    and we do not want to jeopardize it.
                                </p>
                                <h2>Our Price Guarantee</h2>
                                <p>
                                    Our prices and our policies in relation to setting prices
                                    are based on best industry practice and are in line with
                                    other providers in our marketplace. We are very
                                    competitive in this respect. The pricing policies at
                                    123HelpMe.org reflect our company’s primary goal, which
                                    is to continue to operate in our domain for the long-term.
                                    Still, there are certain costs associated with producing
                                    high-quality custom essays so we need to apply reasonable
                                    fees. Our company cannot sell papers at an excessively
                                    cheap price because that would jeopardize our hard-earned
                                    reputation. We maintain high standards and superior
                                    quality in everything we do. However, there is one thing
                                    we do guarantee - our policy on pricing is transparent
                                    and there are no hidden costs to our products and
                                    services. We do not operate with short-term vision, which
                                    means we do not sell poor quality papers at cheap prices.
                                </p>
                                <h2>We Guarantee to Refund Your Money</h2>
                                <p>
                                    In the unlikely event you are dissatisfied with the work
                                    we provide e.g. any assignment does not meet your
                                    expectations, we guarantee to return your money, either
                                    direct to your bank account or by providing a future
                                    order for free. You can choose the method of refund.
                                    Our money-back guarantee only applies to issues relating
                                    to quality e.g. if we do not provide you with the
                                    plagiarism-free essays we promise. Each case will be
                                    examined on merit by our review panel, which can take
                                    a little time. All complaints are resolved within thirty
                                    days of the customer submitting them, and they must be
                                    processed through the prescribed route.
                                </p>
                                <h2>Our Unlimited Revisions Guarantee</h2>
                                <p>
                                    Completed papers often require some degree of revision.
                                    We offer an unlimited number of revisions where the
                                    writer assigned to your project is proven to have been
                                    in some way incompetent or negligent. Certainly, our
                                    custom writing service will correct such errors. All
                                    revision requests are dealt with by our Revisions Team.
                                    However, we will need to ascertain that the revision in
                                    question is valid.
                                </p>
                                <h2>Our Customer Satisfaction Guarantee</h2>
                                <p>
                                    At 123HelpMe.org, we guarantee you will be satisfied with
                                    our work because we do everything possible to comply with
                                    the highest standards in academic writing. You are welcome
                                    to look at some of the sample essays provided on our
                                    website before placing your order. These will give you a
                                    good idea what our papers look like and it will prove to
                                    you that every paper is written from scratch before you
                                    commit to buying an essay. This gives our customer
                                    confidence that they will receive a satisfactory paper
                                    from us.
                                </p>
                                <h2>We Guarantee Original Papers</h2>
                                <p>
                                    Another guarantee you get from our essay writing service
                                    is that every paper will be original and unique. Our own
                                    excellent reputation and the reputation of our customers
                                    is something we highly value. Hence, we strive to achieve
                                    the highest quality standards. Furthermore, we appreciate
                                    the trust our customers place in us. Indeed, this trust
                                    is essential to us.
                                </p>
                                <h2>Our Papers are Entirely Plagiarism-Free</h2>
                                <p>
                                    Of all the guarantees we offer, perhaps the most
                                    important is that all papers will be 100% plagiarism-free.
                                    Our company does not tolerate plagiarism.
                                    We fully understand you will ask for your money back if
                                    we provide you with plagiarized work. Therefore, we are
                                    always careful about providing original papers. Quite
                                    simply, 123HelpMe.org is the best writing service
                                    available.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>