<main>
    <section>
        <div class="about-us">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-us-wrapper">
                                <h1>How Does Our Writing Company Differ from Others? {h1}</h1>

                                <p class="subtitle">
                                    Let us Solve your Problems
                                </p>

                                <p class="text">
                                    Our essay writing service is the perfect place to get any papers you need. We
                                    realize that you have
                                    probably seen several writing services when searching online for assistance. It is,
                                    of course, extremely
                                    difficult to choose the best service provider from all the options. Each company is
                                    capable of writing a
                                    custom paper for you, but not everyone offers high quality at an affordable price.
                                    However, our company
                                    guarantees top quality at the most reasonable prices. We will not disappoint you
                                    even
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row about-us-middle">
                        <div class="col-md-4">
                            <span class="about-us-img-1">Confidentiality</span>

                            <p>
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                letters, as opposed to
                                using 'Content here, content here', making it look like
                            </p>
                        </div>
                        <div class="col-md-4">
                            <span class="about-us-img-2">All-Inclusive Services</span>

                            <p>
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                letters, as opposed to
                                using 'Content here, content here', making it look like readable
                            </p>
                        </div>
                        <div class="col-md-4">
                            <span class="about-us-img-3">100% original work</span>

                            <p>
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                letters, as opposed to
                                using 'Content here, content here', making it look like readable English.
                            </p>
                        </div>
                    </div>
                    <div class="row about-us-bottom">
                        <div class="col-md-12">
                            <h2>What Is It that Makes Us So Exceptional? {h2}</h2>

                            <p>
                                When searching online you want the finest quality essay while
                                saving yourself some money. While browsing, you have probably
                                found many different writing services proposing all sorts of
                                attractive terms. Understandably, it is difficult to make the
                                right decision and select the best provider. You should, however,
                                select a writing service carefully because you are putting your
                                future in their hands. Nevertheless, you should not have any
                                concerns about trusting 123HelpMe.org because we offer you
                                four good reasons why you should choose our writing company.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="discounts">
            <div class="container-fluid discounts-bg">
                <div class="container">
                    <div class="row discounts-wrapper">
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                            <p class="discount-header">
                                With <strong>one order</strong> you receive
                            </p>
                            <span class="five-in-one visible-xs"><strong>5</strong> in <strong>1</strong></span>
                            <ul>
                                <li>Top quality custom paper</li>
                                <li>Plagiarism report</li>
                                <li>Afilliate program</li>
                                <li>Private account</li>
                                <li>Discounts</li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                            <span class="five-in-one"><strong>5</strong> in <strong>1</strong></span>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5 hidden-xs square-index">
                            <div class="square">
                                <p>
                                    Get your<br/>
                                    <strong>15% OFF</strong> <span>Discount</span><br/>
                                    for your first order
                                </p>
                                <a href="#" class="btn-biger">Place Your 1-st order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid discounts-bg-xs visible-xs">
                <div class="container">
                    <div class="row discounts-wrapper">
                        <div class="col-xs-12  square-index">
                            <div class="square">
                                <p>
                                    Get your<br/>
                                    <strong>15% OFF</strong> <span>Discount</span><br/>
                                    for your first order
                                </p>
                                <a href="#" class="btn-biger">Place Your 1-st order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="discount-programs">
            <div class="container-fluid discounts-prograp-bg">
                <div class="container">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h3>Our discount Program {h3}</h3>
                        <p>
                            Many desktop publishing packages and web page editors now use
                            Lorem Ipsum as their default model text, and a search for
                            'lorem ipsum' will uncover many web sites still in their infancy.
                            Various versions have evolved over the years, sometimes by accident,
                            sometimes on purpose (injected humour and the like).
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="row discount-papers">
                            <div class="piscount-papers-wrapper visible-sm visible-xs">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <span>1</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="page-5">
                                            <div class="round">
                                                <span class="number">15+</span>
                                                <span class="pages"></span>
                                            </div>
                                            <span class="discount">5% Discount</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <span>2</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="page-10">
                                            <div class="round">
                                                <span class="number">50+</span>
                                                <span class="pages"></span>
                                            </div>
                                            <span class="discount">10% Discount</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <span>3</span>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="page-15">
                                            <div class="round">
                                                <span class="number">100+</span>
                                                <span class="pages"></span>
                                            </div>
                                            <span class="discount">15% Discount</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                                <span>1</span>
                                <div class="page-5">
                                    <div class="round">
                                        <span class="number">15+</span>
                                        <span class="pages"></span>
                                    </div>
                                    <span class="discount">5% Discount</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                                <span>2</span>

                                <div class="page-10">
                                    <div class="round">
                                        <span class="number">50+</span>
                                        <span class="pages"></span>
                                    </div>
                                    <span class="discount">10% Discount</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
                                <span>3</span>

                                <div class="page-15">
                                    <div class="round">
                                        <span class="number">100+</span>
                                        <span class="pages"></span>
                                    </div>
                                    <span class="discount">15% Discount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="guarantees">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col md-12">
                            <h4>No-quibble guarantees {h4}</h4>

                            <p>
                                Once you place an order with 123HelpMe.org, you can relax.
                                We complete every order on time. Even if your essay is complex
                                and your deadline is short, you should not worry because our
                                writers will complete your assignment punctually. Our system
                                is flexible and calculates the allocated time in hours. Quite
                                simply, we do not accept orders we cannot finish on time.
                                Furthermore, we offer free-of-charge revisions and a money
                                back guarantee should you feel in any way dissatisfied with
                                the paper you receive. All our plagiarism-free essays are
                                completed in a professional manner. We work hard to
                                deliver high-quality results so that your tutor will be
                                delighted with your essay. We realize your academic record
                                depends on the quality of our work so we won’t disappoint you.
                                That is why our company is the best place to buy essays.
                            </p>
                            <h4>Essays that are custom-written {h4}</h4>

                            <p>
                                We will allocate a personal writer to your project. That writer
                                will contact you via our confidential chat system if they have
                                any comments or questions. We recommend you provide us with as
                                much information as you possibly can so that we can craft the
                                best paper for you and meet all your requirements. Additionally,
                                our online support service is available 24x7 to assist you when
                                needed. Therefore, you should not hesitate to contact our essay
                                writing service if you have even the smallest concerns or any
                                questions about your essay order. Our customer support
                                personnel will respond to your queries promptly.
                            </p>
                            <h4>A team of talented and professional writers {h4}</h4>

                            <p>
                                Every writer employed by 123HelpMe.org has extensive knowledge
                                in their chosen discipline and each one strives to achieve
                                excellence in their work. Our writers are passionate about
                                writing and hold Master’s or PhD degrees. Everyone in our team
                                cares about the quality of their work and their reputation
                                because they receive a generous salary for their efforts. Hence,
                                you are assured of a highly-professional and attentive essay
                                writing service from 123HelpMe.org. Testimonials
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="testimonials">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="testimonials-bg">
                                <h5><span>Client says</span> about us {h5}</h5>

                                <div class="testimonials-slider">
                                    <div class="testimonials-content">
                                        <div class="ava"></div>
                                        <span>Endry R., Athabasca: Alberta</span>

                                        <p>
                                            My research paper was excellent. I was pleasantly
                                            surprised by the quality of the work that you guys did.
                                            Wow! I will be using your services from this point
                                            forward. Many thanks for your great attention to detail
                                            in each of my papers. I see no reason to ever use any
                                            other writing service
                                        </p>
                                    </div>
                                    <div class="testimonials-content">
                                        <div class="ava"></div>
                                        <span>Endry R., Athabasca: Alberta</span>

                                        <p>
                                            My research paper was excellent. I was pleasantly
                                            surprised by the quality of the work that you guys did.
                                            Wow! I will be using your services from this point
                                            forward. Many thanks for your great attention to detail
                                            in each of my papers. I see no reason to ever use any
                                            other writing service
                                        </p>
                                    </div>
                                    <div class="testimonials-content">
                                        <div class="ava"></div>
                                        <span>Endry R., Athabasca: Alberta</span>

                                        <p>
                                            My research paper was excellent. I was pleasantly
                                            surprised by the quality of the work that you guys did.
                                            Wow! I will be using your services from this point
                                            forward. Many thanks for your great attention to detail
                                            in each of my papers. I see no reason to ever use any
                                            other writing service
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="newsletter">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="newsletter-content hidden-sm hidden-xs">
                                <span>Newsletters sign up</span>

                                <form>
                                    <input type="email" placeholder="Enter your Email">
                                    <a href="#" class="btn-biger">Send Letter</a>
                                </form>
                            </div>
                            <div class="social-icons visible-sm visible-xs">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>